<nav id="navigation">

{% if mixture.url contains "blocks" %}
{% collection "blocks" %}
  <ul>
  {% for post in collection.items %}
    <li><a href="{{ post.slug }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endcollection %}
{% endif %}

{% if mixture.url contains "elements" %}
{% collection "elements" %}
  <ul>
  {% for post in collection.items %}
    <li><a href="{{ post.slug }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endcollection %}
{% endif %}

{% if mixture.url contains "strategy" %}
{% collection "strategy" %}
  <ul>
  {% for post in collection.items %}
    <li><a href="{{ post.slug }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endcollection %}
{% endif %}

{% if mixture.url contains "layouts" %}
{% collection "layouts" %}
  <ul>
  {% for post in collection.items %}
    <li><a href="{{ post.slug }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endcollection %}
{% endif %}

</nav>