{% layout "listing" %}
{% block content %} 

<h1>Blocks</h1>
<p>Here should go a grid of all the different blocks (aka. modules)</p>
<div class="duct-modulesList">
	{% collection "blocks" %}
	  {% for post in collection.items %}
	  <div>
	  	<h2><a href="{{ post.slug }}">{{ post.title }}</a></h2>
	  	<p>{{ post.description }}</p>
	  	<p><img src="{{ post.thumb | asset_url }}" alt="{{ post.title }}"></p>
	  </div>
	  {% endfor %}
	{% endcollection %}
</div>
{% endblock %}